@import "./utils/variables";
@import "./layout/footer";
@import "./layout/header";
@import"./utils/mixins";
@import"./layout/_maincard";

#bloc_page{
    @include font-text;
    width: 100%;
}


div.loading{
        background:linear-gradient($colour-primary, $colour-secondary);
        width: 300px;
        height:300px;
        position: absolute;
        top: 500px;
        right: 350px;
        z-index: 1;
        border: 30px solid $colour-primary;
        border-radius: 50%;
        border-top: 30px solid $colour-secondary;
        border-bottom:60px solid $colour-primary;
        border-left: 15px solid $colour-tertiary;
        border-right:20px solid $colour-tertiary;
        animation: loader 1.5s linear 1;
        animation-fill-mode: forwards;
      }
      
      @keyframes loader {
        0% { transform: rotate(0deg);}
        20%{transform: rotate(60deg)}
        40%{transform: rotate(150deg)}
        60%{transform: rotate(250deg)}
        80%{transform: rotate(300deg)}
        100% {transform: rotate(360deg);}

        0%{opacity: 0;}
        1%{opacity: 1;}
        25%{opacity: 0.6;}
        50%{opacity: 0;}
        85%{opacity: 1;}
        100%{opacity: 0;} 
      }


div.search{
    background-color: $colour-background-form;
    border-top:solid #d3d3d3;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
        form{
            text-align: center;
        }
            input{
            background-color:$colour-background-form;
            border: none;
            font-size: 1rem;
            }
}

div.introduction{
    background-color: $colour-background-topmain;
    padding-top: 20px;
    padding-bottom: 60px;
        h1{
            text-align: center;
            font-size: 3rem;
        }
            h2{
                text-align: center;
                font-weight: normal;
            }
                button.introduction{
                    @include button;
                    
                        &:hover{
                            @include hover-button;
                            }
                            }
                
}

div.fonctions{
    padding-bottom: 30px;

        div.fonctions-btn{
            position: relative;
            padding: 40px;
            margin:30px;
            @include button-fonction;
                &:hover{
                    @include hover-button;
                }

        }
            span{
                font-size:1.5rem;
                position:absolute;
                left: -12.5px;
                top:55px;
                color: $font-colour-secondary;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-right:9px;
                padding-left:9px;
                background-color: $colour-primary;
                border-radius: 100%;
            }
                i{
                    color: #7e7e7e;
                    font-size: 2rem;
                    margin-left: 20px;
                    padding-top: 20px;
                }
                    i.fonctions-last{
                    color: $colour-primary;
                    font-size: 2rem;
                    margin-left: 20px;
                    padding-top: 20px
                    }
            
                        button{
                                border: none;
                                font-weight: bolder;
                                font-size: 2.5rem;
                                padding-left:150px;
                            }
}

div.restaurants{
    background-color: $colour-background-topmain;
    display: flex;
    flex-direction: column;
        div.card{
           @include restau-card;
           position:relative;
        }
            img.pic-card{
                @include pic-card;
            }
}

span.new {
    color:darken($color: $colour-tertiary, $amount: 30);
    background-color:$colour-tertiary;
    padding:0.8rem;
    border-radius: 0.2rem;
    position: absolute;
    right: 100px;
    top:15px;
}

div.name_loc{
    padding-left: 20px;
    font-size: 1.8rem;
        .restaurant_name{
            font-weight: bold;
            margin-bottom: 0;
        }
            .restaurant_loc{
                margin-top: 0;
            }   
}

div.heart{
  font-size: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: 40px;
            
}

div.full_heart{
    font-size:3rem;
    display:flex;
    align-items:center;
    position:absolute;
    right:50px;
    bottom:40px;
    opacity: 0;
    background: linear-gradient($colour-primary, $colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation-name: f_heart;
          &:hover{
                opacity: 1;
                transition: 0.2s ease-in;
                + div.heart{opacity: 0;}
            }
}

@keyframes f_heart{
    0%{}
}


/*Partie Responsive*/






