@import "./utils/variables";
@import "./layout/footer";
@import "./layout/header";
@import"./utils/mixins";
@import"./layout/_maincard";

#bloc_page{
    @include font-text;
}

div.search{
    background-color: $colour-background-form;
    border-top:solid #d3d3d3;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
        form{
            text-align: center;
        }
            input{
            background-color:$colour-background-form;
            border: none;
            font-size: 1rem;
            }
}

div.introduction{
    background-color: $colour-background-topmain;
    padding-top: 20px;
    padding-bottom: 60px;
        h1{
            text-align: center;
            font-size: 3rem;
        }
            h2{
                text-align: center;
                font-weight: normal;
            }
                button.introduction{
                    @include button;
                    
                        &:hover{
                            @include hover-button;
                            }
                            }
                
}

div.fonctions{
    padding-bottom: 30px;

        div.fonctions-btn{
            position: relative;
            padding: 40px;
            margin:30px;
            @include button-fonction;
                &:hover{
                    @include hover-button;
                }

        }
            span{
                font-size:1.5rem;
                position:absolute;
                left: -12.5px;
                top:55px;
                color: $font-colour-secondary;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-right:9px;
                padding-left:9px;
                background-color: $colour-primary;
                border-radius: 100%;
            }
             i{
                 color: #7e7e7e;
                 font-size: 2rem;
                 margin-left: 20px;
                 padding-top: 20px;
             }
                 button{
                        border: none;
                        font-weight: bolder;
                        font-size: 2.5rem;
                        padding-left:150px;
                    }
}

div.restaurants{
    background-color: $colour-background-topmain;
    display: flex;
    flex-direction: column;
        div.card{
           @include restau-card;
           position:relative;
        }
            img.pic-card{
                @include pic-card;
            }
}

span.new {
    color:darken($color: $colour-tertiary, $amount: 30);
    background-color:$colour-tertiary;
    padding:0.8rem;
    border-radius: 0.2rem;
    position: absolute;
    right: 100px;
    top:15px;
}

div.name_loc{
    padding-left: 20px;
    font-size: 1.8rem;
        .restaurant_name{
            font-weight: bold;
            margin-bottom: 0;
        }
            .restaurant_loc{
                margin-top: 0;
            }

       
}

div.heart{
  font-size: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: 40px;
}

