footer{
    background-color:$colour-background-footer ;
    color:$font-footer-colour;
    padding: 30px;
        img.footer-logo{
            filter:invert(100%);
            padding: 50px;
            width: 300px;
            object-fit: cover;
        }
}

ul.footer{
    list-style: none;
    display: flex;
    flex-direction: column;
}

a.footer-mail_link {
    text-decoration: none;
    color: $font-footer-colour;
}

