footer{
    width:100%;
    background-color:$colour-background-footer ;
    color:$font-footer-colour;
        img.footer-logo{
            filter:invert(100%);
            padding: 50px;
            width: 150px;
            object-fit: cover;
        }
}

ul.footer{
    list-style: none;
        .i{
            padding: 15px;
        }
        .li{
            padding: 10px;
        }
}

