h1.title-menu{
    @include font-title
}

#bloc_page{
    @include font-text;
    width: 100%;
    position:relative;
}

button.command{
    @include button;
        &:hover{
            @include hover-button;
        }
        
}


div.picture--menu{
    object-fit: cover;
        img{
            width: 100%;
        }
}


div.picture--menu{
    position: absolute;
    z-index: -1;
    top:-310px;
}

h2{
    text-transform: uppercase;
    font-weight: normal;
    padding-left:30px;
        span{
        @include underline_menu;
        }
}

div.description{
    @include restau-card;
    position: relative;
        p.name{
            font-size: 2.5rem;
            font-weight: bold;
            padding: 30px;
            padding-bottom: 0;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
            p.precision{
                font-size: 2rem;
                padding: 30px;
                padding-top: 0;
                margin-top: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
                p.price{
                    font-weight: bold;
                    font-size: 2rem;
                    position: absolute;
                    right:190px;
                    top: 50px;
                }

                    span.validation{
                        background: $colour-tertiary;
                        border-radius: 0 1.5rem 1.5rem 0;
                        padding:3.3rem;
                        font-size: 2rem;
                        position: absolute;
                        right:0px;
                        top: 0px;
                             i{
                                 font-size: 2.5rem;
                                 border-radius: 50%;
                                 background-color: white;
                                 color: $colour-tertiary;
                             }
                             &:not(:last-child){}
                    }
                        &:hover{
                            @include hover-button;
                        }
}

div.menu{
    width: 100%;
    background-color: $colour-background-topmain;
    border-radius:5rem 5rem 0 0;
        h1{
            font-size: 4rem;
            display: flex;
            justify-content: space-between;
            padding-top: 60px;
            padding-left: 30px;
            padding-right: 50px;
        }   
}

div.button--command{
    padding-top: 60px;
    padding-bottom: 100px;
    size:75%;
}
