h1.title-menu{
    @include font-title
}

#bloc_page{
    @include font-text;
    width: 100%;
}

button.command{
    @include button;
        &:hover{
            @include hover-button;
        } 
}

header{
    position: relative;
    z-index: -1;
}

article{
    margin-top: -190px;
}

div.picture--menu{
    object-fit: cover;
        img{
            width: 100%;
        }
}

h2{
    text-transform: uppercase;
    font-weight: normal;
    padding-left:30px;
        span{
        @include underline_menu;
        }
}

div.description{
    @include restau-card;
    position: relative;
    opacity: 0;
        &:hover{
            ~.i{animation: check_ok 0.5s linear 1;}
        }
        p.name{
            font-size: 2.5rem;
            font-weight: bold;
            padding: 30px;
            padding-bottom: 0;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
            p.precision{
                font-size: 2rem;
                padding: 30px;
                padding-top: 0;
                margin-top: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
                p.price{
                    font-weight: bold;
                    font-size: 2rem;
                    position: absolute;
                    right:190px;
                    top: 50px;
                }
                    span.validation{
                        background: $colour-tertiary;
                        border-radius: 0 1.5rem 1.5rem 0;
                        padding:3.3rem;
                        font-size: 2rem;
                        position: absolute;
                        right:0px;
                        top: 0px;
                        animation-fill-mode: forwards;
                                i{
                                    font-size: 2.5rem;
                                    border-radius: 50%;
                                    color: white;
                                }
                    }
}

@keyframes check_ok{
    0% { transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

@keyframes check_appears{
    0%{translateX:(0);}
    100%{translateX:(100);}
}


div.menu{
    width: 100%;
    background-color: $colour-background-topmain;
    border-radius:5rem 5rem 0 0;
        h1{
            font-size: 4rem;
            display: flex;
            justify-content: space-between;
            padding-top: 60px;
            padding-left: 30px;
            padding-right: 50px;
        }   
}

.top{
    animation: plate 1.2s ease-in 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.mid{
    animation: plate 1.2s ease-in 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.bottom{
    animation: plate 1.2s ease-in 1;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes plate{
    0%{opacity: 0;}
    100%{opacity: 1;}

    0%{margin-bottom:-30px;}
    100%{margin-top: 0px;}


}

div.button--command{
    padding-top: 60px;
    padding-bottom: 100px;
    size:75%;
}
