footer {
  background-color: #353535;
  color: #ffff;
  padding: 30px;
}
footer img.footer-logo {
  filter: invert(100%);
  padding: 15px;
  padding-left: 0;
  width: 150px;
  object-fit: cover;
}
footer p {
  margin-top: 0;
}

i.footer-restaurant {
  margin-right: 22px;
}

i.footer-link {
  margin-right: 15px;
}

ul.footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}
ul.footer li {
  padding-bottom: 20px;
}

a.footer-mail_link {
  text-decoration: none;
  color: #ffff;
}

img.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

div.back_main {
  color: black;
  display: flex;
  position: relative;
  top: 50px;
  font-size: 3rem;
}

h1.title-menu {
  font-family: "Shrikhand", sans-serif;
}

#bloc_page {
  font-family: "roboto", sans-serif;
}

button.command {
  color: #ffff;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 25px;
  box-shadow: 0.4em 0.4em 0.4em #ccc6c6;
  width: 200px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#bloc_page {
  font-family: "roboto", sans-serif;
}

div.search {
  background-color: #eaeaea;
  border-top: solid #d3d3d3;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.search form {
  text-align: center;
}
div.search input {
  background-color: #eaeaea;
  border: none;
  font-size: 1rem;
}

div.introduction {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 60px;
}
div.introduction h1 {
  text-align: center;
  font-size: 3rem;
}
div.introduction h2 {
  text-align: center;
  font-weight: normal;
}
div.introduction button.introduction {
  color: #ffff;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 25px;
  box-shadow: 0.4em 0.4em 0.4em #ccc6c6;
  width: 200px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div.fonctions {
  padding-bottom: 30px;
}
div.fonctions div.fonctions-btn {
  position: relative;
  padding: 40px;
  margin: 30px;
  background-color: #f2f2f2;
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 0.4em 0.4em 0.4em #dedede;
  border: none;
}
div.fonctions span {
  font-size: 1.5rem;
  position: absolute;
  left: -12.5px;
  top: 55px;
  color: #ffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 9px;
  padding-left: 9px;
  background-color: #9356dc;
  border-radius: 100%;
}
div.fonctions i {
  color: #7e7e7e;
  font-size: 2rem;
  margin-left: 20px;
  padding-top: 20px;
}
div.fonctions button {
  border: none;
  font-weight: bolder;
  font-size: 2.5rem;
  padding-left: 150px;
}

div.restaurants {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
div.restaurants div.card {
  background-color: #ffff;
  border-radius: 1.5rem;
  box-shadow: 0.4em 0.4em 0.4em #dedede;
  width: 325px;
  margin: 1.5rem;
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
div.restaurants img.pic-card {
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  width: 100%;
  height: 390px;
  object-fit: cover;
}

span.new {
  color: #32b091;
  background-color: #99e2d0;
  padding: 0.8rem;
  border-radius: 0.2rem;
  position: absolute;
  right: 100px;
  top: 15px;
}

div.name_loc {
  padding-left: 20px;
  font-size: 1.8rem;
}
div.name_loc .restaurant_name {
  font-weight: bold;
  margin-bottom: 0;
}
div.name_loc .restaurant_loc {
  margin-top: 0;
}

div.heart {
  font-size: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
