$colour-primary: #9356dc;    
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-background-footer:#2b2b2c ;
$font-footer-colour:#ffff;
$font-button-colour:#ffff;
$colour-background-topmain:#f2f2f2;

$button-cd-radius:3px;
$button-menu-radius:2px;
$card-menu-radius:2px 2px 0 0;